body {
    max-width: 350px;
}

.panel-list-item {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.checkboxItem {
    display: flex;
    align-items: center;
}

.panel-section-footer {
    overflow-x: hidden;
}
