body {
    max-width: 350px;
}

ul {
    max-height: 500px;
    overflow-y: scroll;
}

.panel-list-item {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.checkboxItem {
    display: flex;
    align-items: center;
}

.panel-section-footer {
    overflow-x: hidden;
}

/* .tablist-checkbox-wrapper {
    display: flex;
    align-items: center;
} */

/* .tablist-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} */
